@model CasinoGamesAdministrator.Classes.User

@{
    ViewBag.Title = "VerifyUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>VerifyUser</h2>

<h2>@Model.Name</h2>
<img src="@Model.Proof" />

